
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
}

 .section{
    padding: 120px 0;
 }
.header-nav{
    display: flex;
    padding: 24px  0;
    align-items: center;
}

.logo{
    margin-right: 76px;
}


.site-nav{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;  
}
.site-link{
    color: #2e2f42;
  
}

.site-link:hover, 
.site-link:focus{
    border-bottom: 4px solid #404bbf;
    color: #404bbf;
    padding-bottom: 20px;
}

.adres{
    display: flex;
    gap: 40px;
}


.adres-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.header .container{
border-bottom: 1px solid#E7E9FC;
}


.adres-link:hover,
.adres-link:focus{
    color: #404bbf;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    max-width: 1440px;
    margin: 0 auto;
    height: 600px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.hero-title{
    max-width: 496px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}





.basik-list{
    display: flex;
    gap: 24px;
}
    
.basik-item{
    display: block;
    width: calc((100% - 72px) / 4);
}

.basik-icon{
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}
.basik-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.basik-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.work-list{
    display: flex;
    gap:24px;
    margin-top: 8px;
}
.work-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.work-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 32px;
}
.work-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
 .social-list{
    display: flex;
    gap:24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }

 .social-icon{
    fill:#4d5ae5;
 }

.social-icon:hover,
.social-icon:focus{
    fill:#404bbf;
}



.accent-logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.accent-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.button{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
} 

.button:hover,
.button:focus{
    background: #404bbf;
}





.footer{
    width: 1440px;
    height: 312px;
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px;
    background: #2e2f42;
}
.footer-text{
    display: block;
    padding-top: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-social{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.footer-social-icon{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}
.footer-svg{
    width: 208px;
    height: 40px;
}